.resize {
  position: relative;
  width:    960px;
  margin:   0 auto;
}

.cf:after, .cf:before {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

ul {
  margin: 0;
}

.bodyWrapper {
  max-width:          1920px;
  min-width:          960px;
  margin:             0 auto;
  position:           relative;
  -webkit-box-shadow: 0 0 10px 0 black;
  -moz-box-shadow:    0 0 10px 0 black;
  box-shadow:         0 0 10px 0 black;
  overflow-y: scroll;
  overflow-x: hidden;
  height:             auto;
}

.headerWrapper {
  position: relative;
  .menu-top {
    z-index: 100;
    .logo {
      position: absolute;
      top:      30px;
      left:     40px;
    }
    width: 1920px;
    left: 50%;
    margin-left: -960px;
    top:            0;
    position:       absolute;
    text-align:     right;
    background:     rgba(6, 6, 6, 0.6);
    height:         100px;
    vertical-align: middle;
    ul {
      li {
        list-style-type: none;
        display:         inline-block;
        display:         inline-block;
        margin:          0 20px;
        font-family:     Myriad Pro;
        font-size:       21px;
        line-height:     100px;
        a {
          text-decoration: none;
          color:           #ffffff;
        }
      }
    }
  }
  .headerBlock {
    .slogon{
      p{
        font-size: 48px;
        color:           #ffffff;
        padding-top: 200px;
        font-family:     Myriad Pro;
        text-align: center;
        margin: 0;
      }
    }
  }
}

#header {
  background:      url("../../zenmate/design/laptop.jpg") no-repeat;
  height:          500px;
  background-size: cover;
}

.mainWrapper{
  .work{
    height: 480px;
    background-color: #fff;
    h1{
      font-size: 48px;
      color:           #333333;
      line-height:     190px;
      font-family:     Myriad Pro;
      text-align: center;
    }
    ul{
      text-align: center;
      li{
        list-style-type: none;
        display: inline-block;
        width: 195px;
        height: 205px;
        cursor: pointer;
        vertical-align: top;
        p{
          color: #666666;
          font-size: 24px;
          font-family: Myriad Pro;
        }
        img{
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}