.resize {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
ul {
  margin: 0;
}
.bodyWrapper {
  max-width: 1920px;
  min-width: 960px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0 0 10px 0 black;
  -moz-box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
}
.headerWrapper {
  position: relative;
}
.headerWrapper .menu-top {
  z-index: 100;
  width: 1920px;
  left: 50%;
  margin-left: -960px;
  top: 0;
  position: absolute;
  text-align: right;
  background: rgba(6, 6, 6, 0.6);
  height: 100px;
  vertical-align: middle;
}
.headerWrapper .menu-top .logo {
  position: absolute;
  top: 30px;
  left: 40px;
}
.headerWrapper .menu-top ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  font-family: Myriad Pro;
  font-size: 21px;
  line-height: 100px;
}
.headerWrapper .menu-top ul li a {
  text-decoration: none;
  color: #ffffff;
}
.headerWrapper .headerBlock .slogon p {
  font-size: 48px;
  color: #ffffff;
  padding-top: 200px;
  font-family: Myriad Pro;
  text-align: center;
  margin: 0;
}
#header {
  background: url("../design/laptop.jpg") no-repeat;
  height: 500px;
  background-size: cover;
}
.mainWrapper .work {
  height: 480px;
  background-color: #fff;
}
.mainWrapper .work h2 {
  font-size: 48px;
  color: #333333;
  line-height: 190px;
  font-family: Myriad Pro;
  text-align: center;
}
.mainWrapper .work ul {
  text-align: center;
}
.mainWrapper .work ul li {
  list-style-type: none;
  display: inline-block;
  width: 195px;
  height: 205px;
  cursor: pointer;
  vertical-align: top;
}
.mainWrapper .work ul li p {
  color: #666666;
  font-size: 24px;
  font-family: Myriad Pro;
}
.mainWrapper .work ul li img {
  display: block;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.mainWrapper .work ul li img:hover {
  width: 150px;
  height: 150px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.mainWrapper .our-technologies {
  height: 580px;
  background-color: #f9f9f9;
}
.mainWrapper .our-technologies h2 {
  font-size: 48px;
  color: #333333;
  line-height: 100px;
  font-family: Myriad Pro;
  text-align: center;
}
.mainWrapper .our-technologies ul {
  text-align: center;
}
.mainWrapper .our-technologies ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
.mainWrapper .our-technologies ul li img {
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -o-filter: sepia(100%);
  filter: sepia(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.mainWrapper .our-technologies ul li img:hover {
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  filter: sepia(0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
