{# src/AppBundle/Resources/views/Page/about.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <main class="mainWrapper">
        <div class="about-as">
            <h3 class="slogon-about-as">Наша команда</h3>
            <ul>
                <li class="read-more">
                    <p>Кучер Петро</p>
                    <img src="img/pitro.jpg" alt="pitro" width="200px" height="290px">
                    <p>Дизайнер</p>
                </li>
                <li class="read-more">
                    <p>Наконечний Роман</p>
                    <img src="img/roman.jpg" alt="roman" width="200px" height="290px">
                    <p>Front-end розробник</p>
                </li>
                <li class="read-more">
                    <p>Жолкевський Євген</p>
                    <img src="img/zeka.jpg" alt="eka" width="200px" height="290px">
                    <p>Back-end розробник</p>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}