.resize {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.bodyWrapper {
  max-width: 1920px;
  min-width: 960px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0 0 10px 0 black;
  -moz-box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black;
  overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
}
.sliderWrapper{
  height: 500px;
  background: #b7b7b7;
}
.sliderWrapper .owl-carousel{
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  width: 750px;
}
.sliderWrapper h2{
  text-align: center;
  margin-top: 25px;
  line-height: 1.2;
  font-size: 48px;
  color: #666666;;
  font-family: Myriad Pro;
}
.sliderWrapper .owl-controls{
  position: relative;
  font-size: 0px;
}
.sliderWrapper .owl-prev{
  display: block!important;
  position: absolute;
  zoom: 1;
  width: 90px;
  height: 90px;
  background: url(../img/prev_arr.png) center center no-repeat;
  top:-220px;
  left: 50%;
  margin-left: -480px;
  opacity: 0.4;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sliderWrapper .owl-prev:hover{
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sliderWrapper .owl-next{
  display: block!important;
  position: absolute;
  zoom: 1;
  width: 90px;
  height: 90px;
  background: url(../img/next_arr.png) center center no-repeat;
  top: -220px;
  right: 50%;
  margin-right: -480px;
  opacity: 0.4;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sliderWrapper .owl-next:hover{
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footerWrapper{
  height: 300px;
  background: #333333;
}
.footerWrapper .left{
  float: left;
}
.footerWrapper .left img{
  float: left;
  margin-top: 35px;
}
.footerWrapper .left ul{
  margin-top: 90px;
  float: left;
}
.footerWrapper .left ul li a{
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  line-height: 30px;
}
.footerWrapper #flash_cloud{
  float: left;
}
.footerWrapper .right{
  float: right;
}
.footerWrapper .right h3{
  margin-top: 45px;
  font-size: 48px;
  line-height: 1.2;
  text-align: left;
  color: #fff;
  margin-bottom: 25px;
}
.footerWrapper .right p{
    font-size: 14px;
    color: #eee;
    text-align: left;
    line-height: 1.2;
}
.footerWrapper .right p.tel{
  font-size: 22px;
}
.footerWrapper .right p.callback{
  margin-top: 25px;
}
.footerWrapper .right a{
  float: left;
  display: block;
  margin-top: 15px;
  margin-right: 15px;
}